@font-face {
    font-family: 'Aspekta';
    src: url('./assets/fonts/Aspekta-400.woff2') format('woff2'),
         url('./assets/fonts/Aspekta-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
         url('./assets/fonts/RobotoMono-VariableFont_wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    @apply bg-white;
    @apply overflow-x-hidden;
    @apply font-aspekta;
    overflow: hidden;
}

*::selection {
    @apply bg-blue text-white;
}