/* Menu Button */
.btn-menu {
    @apply flex items-center gap-5;
    @apply relative;
    @apply pr-12;
    @apply cursor-pointer;
}

.btn-menu__content {
    @apply font-aspekta uppercase text-[0.875rem] font-medium text-white tracking-[0.8px];
    @apply relative z-10;
    @apply overflow-hidden relative inline-block;
}

.btn-menu__content span {
    @apply relative inline-block;
    text-shadow: 0px 1.3em currentColor;
    transform: translateY(0em) rotate(0.001deg);
    transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn-menu:hover .btn-menu__content span,
.btn-menu:focus .btn-menu__content span {
    transform: translateY(-1.3em) rotate(0.001deg);
}

.btn-menu__icon {
    @apply relative z-10;
    @apply flex flex-col justify-center items-center gap-2;
    @apply absolute right-0 top-1/2 -translate-y-1/2;
    @apply w-8;
}

.btn-menu__icon span {
    @apply w-8 h-[0.0625rem] bg-white;
    @apply rounded-full;
    transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn-menu:hover .btn-menu__icon span,
.btn-menu:focus .btn-menu__icon span {
    @apply w-4;
}

/* Default button */
.btn-animate-chars {
    @apply relative;
    @apply w-fit;   
    @apply cursor-pointer;
    @apply rounded-full;
    @apply flex grow justify-center items-center;
    @apply py-5 px-[1.625rem];
    @apply text-[0.75rem] leading-[1rem] font-medium;
}

.btn-animate-chars__text {
    @apply font-aspekta text-[0.75rem] leading-[1rem] uppercase tracking-[0.8px] text-white;
}

/* Characters */
.btn-animate-chars [data-button-animate-chars] {
    @apply overflow-hidden relative inline-block;
}

.btn-animate-chars [data-button-animate-chars] span {
    @apply relative inline-block;
    text-shadow: 0px 1.3em currentColor;
    transform: translateY(0em) rotate(0.001deg);
    transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn-animate-chars:hover [data-button-animate-chars] span,
.btn-animate-chars:focus [data-button-animate-chars] span {
    transform: translateY(-1.3em) rotate(0.001deg);
}

/* Background */
.btn-animate-chars__bg {
    @apply bg-black;
    @apply rounded-full;
    @apply absolute inset-0;
  transition: inset 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn-animate-chars:hover .btn-animate-chars__bg,
.btn-animate-chars:focus .btn-animate-chars__bg {
  @apply inset-[0.125em];
}