.c-case-cards {
    @apply pb-20 md:pb-[16vw];
}

.c-case-cards__thumbnail {
    @apply relative inline-block;
    @apply w-full aspect-square;
    @apply overflow-hidden;
    @apply border border-white/25;
    @apply mb-2;
}

.c-case-cards__thumbnail::after {
    content: "";
    @apply absolute inset-0;
    @apply opacity-0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: opacity 1.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-case-cards__thumbnail-background {
    @apply w-full h-full;
    @apply overflow-hidden;
}

.c-case-cards__thumbnail img {
    @apply w-full h-full object-cover;
    transition: all 1.2s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-case-cards__thumbnail:hover img {
    @apply transform scale-110;
}

.c-case-cards__thumbnail:hover::after {
    @apply opacity-100;
}

.c-case-cards__thumbnail-credits {
    @apply flex justify-between items-center gap-2;
}

.c-case-cards__thumbnail-credits {
    @apply text-white font-medium text-sm;
}