.c-case-cards {
    @apply pb-20 md:pb-[16vw];
}

.c-case-cards__thumbnail {
    @apply relative inline-block;
    @apply w-full aspect-square;
    @apply overflow-hidden;
    @apply mb-2;
}

.c-case-cards__thumbnail-overlay {
    @apply absolute inset-0;
    @apply flex justify-center items-center;   
    @apply opacity-0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: opacity 1s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-case-cards__thumbnail-background {
    @apply w-full h-full;
    @apply overflow-hidden;
}

.c-case-cards__thumbnail img {
    @apply w-full h-[110%] object-cover;
    will-change: transform;
}

.c-case-cards__thumbnail:hover .c-case-cards__thumbnail-overlay {
    @apply opacity-100;
}

.c-case-cards__thumbnail-credits {
    @apply flex justify-between items-center gap-2;
}

.c-case-cards__thumbnail-credits {
    @apply text-white font-medium text-sm;
}