.c-footer__wrapper {
    overflow: hidden;
    position: relative;
}

.c-footer {
    @apply relative;
    @apply min-h-screen;
    @apply flex flex-col gap-16 justify-between;
    @apply pb-[2rem] md:pb-[3rem] pt-[8rem] md:pt-[12rem];
    @apply bg-white;
}

.c-footer__logo {
    @apply w-full opacity-20;
}

.c-footer__logo path {
    @apply fill-black;
    @apply w-full;
}

.c-footer__list {
    @apply mt-4 md:pt-8;
    @apply flex flex-col;
}

.c-footer__list-item * {
    @apply text-md leading-[1.3] text-black;
}

/* Character animation styles moved to _textAnimations.css */

.c-footer__list--sm {
  @apply flex items-center justify-center md:justify-start gap-5;
}

.c-footer__list--sm * {
    @apply text-black/50 text-xs;
    transition: color 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-footer__list--sm a:hover,
.c-footer__list--sm a:focus {
  @apply text-black;
}

.c-footer__wrap-dark {
    @apply opacity-0;
    @apply pointer-events-none;
    @apply bg-black;
    @apply w-full h-full;
    @apply absolute top-0 left-0;
}