.c-header {
    @apply fixed top-0 left-0 right-0 z-[99];
    @apply py-2 md:py-7;
    transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-header__body {
    @apply relative;
    @apply flex items-center justify-between;
}

.c-header__logo path {
    transition: fill 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-header__body-right {
    @apply flex items-center gap-8 lg:gap-20;
}

.c-header__body-logo {
    @apply flex flex-col justify-center;
    @apply w-24 md:w-40;
}

.c-header__body-logo svg {
    @apply w-full h-auto;
}

.c-header__body-logo path {
    transition: fill 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-header__nav-item span {
    @apply font-normal text-white text-sm;
    transition: color 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

/* Character animation styles moved to _textAnimations.css */


/* Theme variations */
/* Hide */
.c-header--hide .c-header__logo path {
    @apply fill-transparent;
}

.c-header--hide .c-header__nav-item {
    @apply text-white;
}

/* Light */
.c-header--light{
    @apply mix-blend-difference;
}

.c-header--light .btn-menu__content {
    @apply text-white;
}

.c-header--light path {
    @apply fill-white;
}

.c-header--light .btn-menu__icon span {
    @apply bg-white;
}

.c-header--light .btn-menu:hover .btn-menu__bg,
.c-header--light .btn-menu:focus .btn-menu__bg,
.c-header--light .btn-menu[aria-expanded="true"] .btn-menu__bg {
    @apply bg-white;
}

.c-header--light .btn-menu:hover .btn-menu__content,
.c-header--light .btn-menu:focus .btn-menu__content,
.c-header--light .btn-menu[aria-expanded="true"] .btn-menu__content {
    @apply text-black;
}

.c-header--light .btn-menu:hover .btn-menu__icon span,
.c-header--light .btn-menu:focus .btn-menu__icon span,
.c-header--light .btn-menu[aria-expanded="true"] .btn-menu__icon span {
    @apply bg-black;
}

/* Dark */
.c-header--dark .btn-menu__content {
    @apply text-black;
    @apply mix-blend-difference;
}

.c-header--dark path {
    @apply fill-black;
}

.c-header--dark .btn-menu__icon span {
    @apply bg-black;
} 

.c-header--dark .btn-menu:hover .btn-menu__bg,
.c-header--dark .btn-menu:focus .btn-menu__bg,
.c-header--dark .btn-menu[aria-expanded="true"] .btn-menu__icon span {
    @apply bg-black;
}

.c-header--dark .btn-menu:hover .btn-menu__content,
.c-header--dark .btn-menu:focus .btn-menu__content,
.c-header--dark .btn-menu[aria-expanded="true"] .btn-menu__content {
    @apply text-white;
}

.c-header--dark .btn-menu:hover .btn-menu__icon span,
.c-header--dark .btn-menu:focus .btn-menu__icon span,
.c-header--dark .btn-menu[aria-expanded="true"] .btn-menu__icon span{
    @apply bg-white;
}