.c-header {
    @apply fixed top-0 left-0 right-0 z-[99];
    @apply py-7;
    transition: all 0.3s ease;
}

.c-header__body {
    @apply relative;
    @apply flex items-center justify-end;
}

.c-header__body-right {
    @apply flex items-center gap-8 lg:gap-20;
}

.c-header__body-center {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
}

.c-header__body-logo {
    @apply w-14 md:w-16;
}

.c-header__body-logo svg {
    @apply w-full h-auto;
}

.c-header__body-logo path {
    transition: fill 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

/* Theme variations */
/* Light */
.c-header--light .btn-menu__content {
    @apply text-white;
}

.c-header--light path {
    @apply fill-white;
}

.c-header--light .btn-menu__icon span {
    @apply bg-white;
}

.c-header--light .btn-menu:hover .btn-menu__bg,
.c-header--light .btn-menu:focus .btn-menu__bg {
    @apply bg-white;
}

.c-header--light .btn-menu:hover .btn-menu__content,
.c-header--light .btn-menu:focus .btn-menu__content {
    @apply text-black;
}

.c-header--light .btn-menu:hover .btn-menu__icon span,
.c-header--light .btn-menu:focus .btn-menu__icon span {
    @apply bg-black;
}

.c-header--light .c-slideout {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}

/* Dark */
.c-header--dark .btn-menu__content {
    @apply text-black;
    @apply mix-blend-difference;

}

.c-header--dark path {
    @apply fill-black;
}

.c-header--dark .btn-menu__icon span {
    @apply bg-black;
} 

.c-header--dark .btn-menu:hover .btn-menu__bg,
.c-header--dark .btn-menu:focus .btn-menu__bg {
    @apply bg-black;
}

.c-header--dark .btn-menu:hover .btn-menu__content,
.c-header--dark .btn-menu:focus .btn-menu__content {
    @apply text-white;
}

.c-header--dark .btn-menu:hover .btn-menu__icon span,
.c-header--dark .btn-menu:focus .btn-menu__icon span {
    @apply bg-white;
}

.c-header--dark .c-slideout {
    background: rgba(57, 35, 35, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}