.c-hero-home {
    @apply relative;
    @apply overflow-hidden;
}

.c-hero-home__media {
    @apply absolute inset-0 w-full h-full;
    z-index: -1;
}

.c-hero-home__hover {
    @apply absolute inset-0 w-full h-full;
    @apply bg-brown;
}

.c-hero-home__media video {
    @apply w-full h-full object-cover;
}

.c-hero-home__text {
    @apply flex flex-col;
    @apply font-aspekta text-base text-white;
}

.c-hero-home__content {
    @apply relative;
    @apply min-h-screen;
    @apply flex flex-col gap-16 justify-between;
    @apply pt-[8rem] md:pt-[10rem] pb-[4rem];
}

.c-hero-home__content-wrapper {
    @apply flex flex-col justify-between;
}

.c-hero-home__title {
    @apply text-xxl text-white font-medium;
}

.c-hero-home__title span {
    @apply inline-block;
}

.c-hero-home__playlist-media {
    @apply inline-flex;
    @apply aspect-[3/1];
    @apply rounded-md overflow-hidden;
    @apply bg-black/35;
    @apply p-4;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-hero-home__playlist-image {
    @apply aspect-square rounded-sm overflow-hidden;
}

.c-hero-home__playlist-image picture {
    @apply w-full h-full;
}

.c-hero-home__playlist-text {
    @apply flex flex-col;
}

.c-hero-home__playlist-label {
    @apply text-white text-sm;
}

.c-hero-home__playlist-label--light {
    @apply text-white/60 text-sm;
}