.c-hero-home {
    @apply relative;
    @apply overflow-hidden;
}

.c-hero-home__media {
    @apply absolute inset-0 w-full h-full;
    z-index: -1;
}

.c-hero-home__hover {
    @apply absolute inset-0 w-full h-full;
    @apply bg-brown;
}

.c-hero-home__media video {
    @apply w-full h-full object-cover;
}

.c-hero-home__text {
    @apply flex flex-col;
    @apply font-aspekta text-base text-white;
}

.c-hero-home__content {
    @apply relative;
    @apply min-h-screen;
    @apply flex flex-col gap-16 justify-between;
    @apply pt-[8rem] pb-[2rem] md:pt-[10rem] md:pb-[4rem];
}

.c-hero-home__content-wrapper {
    @apply flex flex-col justify-between;
}

.c-hero-home__title {
    @apply text-xxl text-white font-medium;
}

.c-hero-home__title span {
    @apply inline-block;
}

.c-hero-home__playlist-media {
    @apply inline-grid;
    @apply grid-cols-3 gap-2;
    @apply rounded-md overflow-hidden;
    @apply bg-black/35;
    @apply p-2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.c-hero-home__playlist-image {
    @apply relative;
    @apply aspect-square rounded-full overflow-hidden;
    animation: vinyl-spin 8s linear infinite;
    animation-play-state: running;
}

.c-hero-home__playlist-image::before {
    content: '';
    @apply w-2 h-2 md:w-4 md:h-4 rounded-full bg-black;
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.c-hero-home__playlist-image:not(.is-playing) {
    animation-play-state: paused;
}

.c-hero-home__playlist-image picture {
    @apply w-full h-full;
}

.c-hero-home__playlist-text {
    @apply flex flex-col;
}

.c-hero-home__playlist-label {
    @apply text-white text-sm;
}

.c-hero-home__playlist-label--light {
    @apply text-white/60 text-sm;
}

.c-hero-home__playlist-buttons {
    @apply w-full h-full;
    @apply inline-flex gap-2;
}

.c-hero-home__playlist-button {
    @apply w-full h-full rounded-full;
    @apply inline-flex justify-center items-center;
    @apply aspect-square;
    @apply bg-white/25;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-hero-home__playlist-button path {
    @apply fill-white stroke-none;
    transition: fill 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.c-hero-home__playlist-button:hover,
.c-hero-home__playlist-button:focus {
    @apply bg-white;
}

.c-hero-home__playlist-button:hover path,
.c-hero-home__playlist-button:focus path {
    @apply fill-black/60;
}

.c-hero-home__playlist-button:disabled {
    @apply bg-white/10;
    @apply opacity-80;
    cursor: not-allowed;
}

.c-hero-home__playlist-button:disabled path {
    @apply fill-white/50;
}

.c-hero-home__playlist-button:disabled:hover,
.c-hero-home__playlist-button:disabled:focus {
    @apply bg-white/10;
}

.c-hero-home__playlist-button:disabled:hover path,
.c-hero-home__playlist-button:disabled:focus path {
    @apply fill-white/50;
}