.c-lightswitch {
    @apply relative inline-block;
    @apply w-[1.875rem] h-4;
}

.c-lightswitch input {
    @apply opacity-0 w-0 h-0;
}

.c-lightswitch__slider {
    @apply absolute inset-0;
    @apply cursor-pointer;
    @apply bg-transparent;
    @apply outline outline-white;
    @apply rounded-full;
    @apply transition-all duration-300;
}

.c-lightswitch__slider:before {
    content: "";
    @apply absolute left-[0.125rem] top-1/2 -translate-y-1/2;
    @apply w-3 h-3;
    @apply bg-white rounded-full;
    @apply transition-all duration-300;
}

input:checked + .c-lightswitch__slider {
  @apply bg-blue;
  @apply outline-none;
}

input:checked + .c-lightswitch__slider:before {
    @apply -translate-y-1/2 translate-x-[0.875rem];
}